section{
    header{
        text-align: center;
        width: 680px;

        img{
            width: 112px;
            aspect-ratio: 1/1;
            object-fit: cover;
            margin-block: 120px 56px;
        }

        h1{
            margin-block: 8px 20px;
        }
    }

    nav{
    margin-block: 80px 94px;
    }

    ul{
    list-style: none;
    gap: 16px;
    }

    li{
    background-color: var(--gray-400);
    padding: 8px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    }

    li img{
    width: 24px;
    aspect-ratio: 1/1;
    margin-right: 8px;
    }
}


main{
    padding: 72px 120px 144px 120px;

    header{
        margin-bottom: 56px;
        gap: 8px;
    }

    figure{
        background-color: var(--gray-400);
        border-radius: 12px;
        padding: 12px;

        img{
            border-radius: 8px;
            width: 306px;
        }

        h2{
            margin-block: 24px 8px;
        }

    }

    figure:hover{
        background-color: var(--gray-300);
    }
}

#services{
    background-color: var(--gray-600);
    padding: 88px 120px 120px 120px;

    header{
        margin-bottom: 56px;
        gap: 8px;
    }

    figure{
        width: 280px;
        border: 2px solid var(--gray-500);
        border-radius: 12px;
        padding: 20px;
    }

    h1{
        margin-block: 20px 8px;
    }
}

footer{
    min-height: 100vh;
    background-image: url(../assets/imagens/Background_Contacts.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 128px 120px 200px 120px;

    header{
        margin-bottom: 48px;
    }

    div{
        background-color: var(--gray-400);
        width: 400px;
        padding: 20px;
        border-radius: 8px;
        align-items: center;
    }

    span{
        width: 288px;
    }

    a{
        border: 1.5px solid transparent;
        text-decoration: none;
    }

    a:hover{
        border: 1.5px solid var(--blue);
        border-radius: 8px;
    }

    a:hover .logolinkedin{
        content: url(../assets/icons/Linkedinhover.svg);
    }

    a:hover .logoinsta{
        content: url(../assets/icons/Instagramhover.svg);
    }

    a:hover .logogithub{
        content: url(../assets/icons/Githubhover.svg);
    }

    a:hover .logoemail{
        content: url(../assets/icons/EnvelopeSimplehover.svg);
    }
}