.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.grid{
    display: grid;
}

.grid-cols{
    grid-template-columns: repeat(3, 1fr);
}


.gap-24{
    gap: 24px;
}

.gap-16{
    gap: 16px;
}

.gap-12{
    gap: 12px;
}

.gap-8{
    gap: 8px;
}

.title-lg{
    font: var(--title-lg);
    color: var(--gray-100);
}

.title-md{
    font: var(--title-md);
    color: var(--gray-100);
}

.title-sm{
    font: var(--title-sm);
    color: var(--gray-100);
}

.subtitle{
    font: var(--subtitle);
    color: var(--gray-200);
}

.subtitle-2{
    font: var(--subtitle);
    color: var(--red);
}

.subtitle-3{
    font: var(--subtitle);
    color: var(--purple);
}

.text-md{
    font: var(--text-md);
    color: var(--gray-200);
}

.text-sm{
    font: var(--text-sm);
    color: var(--gray-300);
}

.text-sm-2{
    font: var(--text-sm);
    color: var(--gray-200);
}

.destaque{
    color: var(--red);
}